<div class="resumeInfo">
  <div class="rI-header">
    간단한 이력서 문의
  </div>

  <div class="rI-body">
    <div class="rI-type-simple">
      <div class="rI-type-icon">
        <i class="fa fa-file-text-o"></i>
        <div>기본형</div>
        <span>미리보기</span>
      </div>
      <div class="rI-type-desc">

      </div>
      <div class="rI-type-price">
        19,000원
      </div>
    </div>

    <div class="rI-type-fancy">
      <div class="rI-type-icon">
        <i class="fa fa-file-text"></i>
        <div>고급형</div>
        <span>미리보기</span>
      </div>
      <div class="rI-type-desc">

      </div>
      <div class="rI-type-price">
        29,000원
      </div>
    </div>

    <div class="rI-type-portfolio">
      <div class="rI-type-icon">
        <i class="fa fa-clipboard"></i>
        <div>포트폴리오</div>
       <span>준비중</span>
      </div>
      <div class="rI-type-desc">

      </div>
      <div class="rI-type-price">
        준비중
      </div>
    </div>
  </div>

</div>
