<navbar></navbar>

<section class="resumeFrom-wrap">
  <div class="rf-statusBar">
    <div class="rf-st-table">
      <div class="rf-st-row">
        <div class="rf-status rf-st-basic rf-st-active" ng-click="statusTo(0)"><span>기본</span></div>
        <div class="rf-status rf-st-education" ng-click="statusTo(1)"><span>교육</span></div>
        <div class="rf-status rf-st-work" ng-click="statusTo(2)"><span>경력</span></div>
        <div class="rf-status rf-st-volunteer" ng-click="statusTo(3)"><span>봉사</span></div>
        <div class="rf-status rf-st-awards" ng-click="statusTo(4)"><span>수상</span></div>
        <div class="rf-status rf-st-skills" ng-click="statusTo(5)"><span>기술</span></div>
        <div class="rf-status rf-st-language" ng-click="statusTo(6)"><span>언어</span></div>
        <div class="rf-status rf-st-interests" ng-click="statusTo(7)"><span>관심</span></div>
        <div class="rf-status rf-st-publications" ng-click="statusTo(8)"><span>출판</span></div>
        <div class="rf-status rf-st-references" ng-click="statusTo(9)"><span>추천</span></div>
      </div>
    </div>
  </div>

  <div class="rf-backbtn"></div>

  <div class="rf-title">
    {{statusListKor[status] + ' 정보 입력'}}
  </div>

  <div class="rf-content" style="min-height: {{minHeight()}};">
    <div class="rf-content-wrap rf-content-{{rContent}}" ng-repeat="rContent in statusList" style="
    left:{{positioning($index)}}%;">

      <div class="rf-ct-form" ng-if="rContent == 'basic'">
        <div class="form-group">
          <label>이름</label>
          <input type="text" class="form-control" ng-model="r.basic.name" placeholder="이름을 입력해주세요."/>
        </div>
        <div class="form-group">
          <label>희망직군</label>
          <input type="text" class="form-control" ng-model="r.basic.label" placeholder="희망직군을 입력해주세요. EX) 개발자, 시각 디자이너, 일반 사무직 등등"/>
        </div>
        <div class="form-group">
          <label>이메일</label>
          <input type="email" class="form-control" ng-model="r.basic.email" placeholder="이메일을 입력해주세요."/>
        </div>
        <div class="form-group">
          <label>연락처</label>
          <input type="text" class="form-control" ng-model="r.basic.phone" placeholder="연락처를 입력해주세요. EX) 010-0000-0000"/>
        </div>
        <div class="form-group">
          <label>주소: 시</label>
          <input type="text" class="form-control" ng-model="r.basic.city" placeholder="사시는 도시를 입력해주세요. EX) 서울특별시, 진주시 등"/>
        </div>
        <div class="form-group">
          <label>나머지 주소</label>
          <input type="text" class="form-control" ng-model="r.basic.address" placeholder="나머지 주소를 입력해주세요."/>
        </div>
        <div class="form-group">
          <label>개인 홈페이지</label>
          <input type="text" class="form-control" ng-model="r.basic.website" placeholder="개인 블로그나 홈페이지를 입력해주세요. (없으시다면 입력 안하시면 됩니다.)"/>
        </div>
        <div class="form-group">
          <label>SNS 연동</label>
          <div class="rf-ct-basic-snsList">
            <span><i class="fa fa-facebook-official rf-basic-sns-active"></i></span>
            <span><i class="fa fa-twitter"></i></span>
            <span><i class="fa fa-instagram"></i></span>
          </div>
          <div class="form-group rf-ct-basic-sns" ng-repeat="profile in r.basic.profiles">
            <input type="text" class="form-control" ng-model="profile.network" placeholder="입력해주세요."/>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="rf-btns navbar">
    <div class="navbar-right">
      <button class="btn btn-default">입력취소</button>
      <button class="btn btn-primary">저장하기</button>
    </div>
  </div>
</section>
