.rf-statusBar {
  width: 90%;
  margin: 20px auto;
}

.rf-st-table {
  width: 100%;
  display: table;
}

.rf-st-row {
  display: table-row;
}

.rf-status {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  background: #FFECB3;
  text-align: center;
  color: #FFC107;
  cursor: pointer;
}

.rf-status span {
  display: inline-block;
  width: 70%;
  border: 2px solid #FFECB3;
  border-radius: 50px;
}

.rf-status.rf-st-active span {
  border-color: #FFA000;
  color: #FFA000;
  background: white;
  transition: all 1s;
}

.rf-st-basic {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.rf-st-references {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rf-title {
  text-align: center;
  font-size: 30px;
}

.rf-title-warn {
  text-align: center;
}

.rf-content {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
}

.rf-content-wrap {
  position: absolute;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  transition: left 0.6s ease-in-out;
}

.rf-content-wrap:nth-of-type(even) {
  background: white;
}

.rf-content-wrap:nth-of-type(odd) {
  background: #f4f4f4;
}

.rf-ct-form {
  padding: 30px 20px;
  border-radius: 5px;
}

.rf-ct-basic-snsList {
  padding: 20px;
  width: 100%;
}

.rf-ct-basic-snsList table {
  width: 100%;
}

.rf-ct-basic-snsList tr {
  height: 50px;
}

.rf-ct-basic-snsList th {
  width: 10%;
  text-align: center;
}

.rf-ct-basic-snsList td input {
  width: 100%;
}

.rf-ct-basic-snsList span i {
  font-size: 30px;
}

.rf-ct-basic-about textarea {
  height: 100px;
  resize: none;
}

.rf-ct-edu-add {
  text-align: center;
}

.rf-ct-edu-add div {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  color: white;
  font-size: 20px;
}

.rf-btns {
  padding: 10px 30px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin: 0;
  background-color: #E6E6E6;
}
