.adminMain-wrap h2 {
  text-align: center;
  margin: 30px;
}

.am-userList {
  cursor: pointer;
}

.am-userList > div {

}

.am-ul-profile {

}

.am-ul-name {

}

.am-ul-email {

}

.am-ul-role {

}

.am-ul-joined {

}

.am-ul-openResume {

}

.am-ul-resumeList {
  display: none;
}
