<navbar></navbar>

<section class="adminMain-wrap" ng-if="adminUser">
  <h2>회원 리스트</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Img</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Joined</th>
        <th>Show</th>
        <th>Resume</th>
      </tr>
    </thead>
    <tbody>

      <tr class="am-userList" ng-repeat="user in userList">
        <td class="am-ul-number">{{$index + 1}}</td>
        <td class="am-ul-profile" style="background-image: url({{user.profileImage}})"></td>
        <td class="am-ul-name">{{user.name}}</td>
        <td class="am-ul-email">{{user.email}}</td>
        <td class="am-ul-role">{{user.role}}</td>
        <td class="am-ul-joined">{{getDate(user.joined)}}</td>
        <td class="am-ul-showResume" ng-if="user.resumes.length > 0"><button class="btn btn-success" ng-click="showResume($index)">Show Resume</button></td>
        <td class="am-ul-noResume" ng-if="!user.resumes.length > 0"><button class="btn btn-warning" disabled>No Resume</button></td>
        <td class="am-ul-openResume"><button class="btn btn-warning" ng-click="addResume($index)">Add Resume</button></td>
      </tr>

    </tbody>
  </table>
</section>
