.am-userList {
  height: 50px;
  width: 95%;
  margin: 10px auto;
  background: #CFCFCF;
  display: -webkit-flex;
  display: flex;
}

.am-userList > div {
  height: 50px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
}

.am-ul-profile {
  width: 50px;
}

.am-ul-name {
  width: 100px;
}

.am-ul-email {
  width: 200px;
}

.am-ul-role {
  width: 100px;
}

.am-ul-joined {
  width: 200px;
}

.am-ul-openResume {
  width: 100px;
}
