<div class="hr-navbar">
  <div class="hr-nb-brand">
    <a href="/" class="">헬로레쥬메</a>
  </div>

  <ul class="nav navbar-nav" id="top-menu">
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="simple"><a href="#simple">Simple</a></li>
    <li data-menuanchor="fancy"><a href="#fancy">Fancy</a></li>
    <li data-menuanchor="portfolio"><a href="#portfolio">Portfolio</a></li>
  </ul>

  <ul class="nav navbar-nav hr-nb-user">
    <li><a href="/login">로그인</a></li>
    <li><a href="/join">회원가입</a></li>
  </ul>
</div>
