<div class="hr-navbar">
  <div class="hr-nb-brand">
    <a href="/" class="">헬로레쥬메</a>
  </div>

  <ul class="hr-nav-ul" id="top-menu">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li ng-if="currentUser.role === 'admin'"><a href="/admin">sss</a></li>
  </ul>

  <ul class="hr-nav-ul hr-nb-user" ng-if="isLogin()">
    <li><a href="/mypage">{{currentUser.name}}</a></li>
    <li><a href="#" ng-click="logout()">로그아웃</a></li>
  </ul>

  <ul class="hr-nav-ul hr-nb-user" ng-if="!(isLogin())">
    <li><a href="/login">로그인</a></li>
    <li><a href="/join">회원가입</a></li>
  </ul>
</div>
