<navbar></navbar>

<div class="userpage bounceIn animated">
  <div class="panel panel-warning up-resumeList">
    <div class="panel-heading">My Resumes</div>
    <div class="panel-body">
      <div class="up-myResumes" ng-repeat="resume in currentUser.resumes">
        <span class="up-mr-sort">{{resume.sort}}</span>
        <span class="up-mr-url">{{resume.url || ''}}</span>
        <button class="btn btn-success">Edit</button>
      </div>
    </div>
  </div>

  <div class="panel panel-info up-myinfo">
    <div class="panel-heading">My Info</div>
    <div class="panel-body">

      <div class="up-mi-name up-mi-section">
        <div class="up-mi-title">
          이름
        </div>
        <div class="up-mi-content">
          <input type="text" ng-model="tUser.name" placeholder="이름을 여기에 입력해주세요."/>
        </div>
      </div>

      <div class="up-mi-email up-mi-section">
        <div class="up-mi-title">
          이메일
        </div>
        <div class="up-mi-content">
          <input type="email" ng-model="tUser.email" placeholder="이메일을 여기에 입력해주세요."/>
        </div>
      </div>

    </div>
  </div>
</div>
