.userpage {
  width: 100%;
  float: left;
}

.up-resumeList {
  width: 30%;
  float: left;
  margin: 50px 1% 20px 2%;
}

.up-myinfo {
  width: 64%;
  float: left;
  margin: 50px 2% 20px 1%;
}

.up-resumeList .panel-body {
  padding: 20px;
}

.up-myinfo .panel-body {
  padding: 20px;
}

.up-myResumes {
  border: 1px solid #faebcc;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.up-myResumes span {
  font-size: 13px;
}

.up-noResume {
  padding: 30px 0px 20px 0px;
  text-align: center;
}

.up-noResume h3 {
  margin: 0px auto 20px auto;
}

.up-hasResume {
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.up-mi-section {
  width: 100%;
  float: left;
  padding: 20px 0px;
  border: none;
  border-bottom: solid 1px #bce8f1;
}

.up-mi-title {
  width: 15%;
  float: left;
  font-size: 20px;
  text-align: center;
  color: #6190af;
}

.up-mi-name .up-mi-title {
  height: 35px;
  line-height: 35px;
}

.up-mi-email .up-mi-title {
  height: 35px;
  line-height: 35px;
}

.up-mi-auth .up-mi-title {
  height: 35px;
  line-height: 35px;
}

.up-mi-email span {
  height: 35px;
  line-height: 35px;
  font-size: 17px;
}

.up-mi-content {
  width: 85%;
  float: right;
  padding-left: 15px;
}

.up-mi-content input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding-left: 10px;
  font-size: 16px;
}

.up-mi-name input[type="text"] {
  width: 220px;
}

.up-mi-email input[type="email"] {
  width: 220px;
}

.up-mi-submit {
  width: 100%;
  float: left;
  padding: 20px;
  text-align: right;
}

.up-mi-submit input {
  width: 120px;
}
